:root {
  --font-size: 17px;
  --margin-layout: 20px;
  --half-margin-layout: 10px;
  --double-margin-layout: 40px;
  --negative-margin-layout: -20px;
  --Luca-accent: #c15700;
  --Luca-accent2: #003561;
  --Luca-accent3: #298753;
  --Luca-red: #B30000;
  --Luca-darkGray: rgb(78, 78, 78);
  --Luca-mediumGray: #828282;
  --Luca-lightGray: rgb(252, 252, 252);
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: var(--font-size, 17px);
  background: white;
}

:focus {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  /* overflow: hidden; */
}

img, embed, object, video {
  max-width: 100%;
}

button, input {
  min-width: 48px;
  min-height: 48px;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button,
input[type=button] {
  transition: all 0.5ms ease-out;
}

button:hover,
input[type=button]:hover {
  background-color: var(--Luca-mediumGray, #828282);
}

button.disabled,
button[disabled],
input.disabled,
input[disabled] {
  cursor: not-allowed;
  opacity: .4;
}

h1, h2, h3, p, ul {
  margin: 0px;
  padding: 0px;
}

h2, h3 {
  color: var(--Luca-accent2, #0E2676);
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 1.9rem;
}

h2 {
  font-weight: 200;
  font-size: 1.4rem;
}

h3 {
  font-weight: bold;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

li, li * {
  line-height: 1.8rem !important;
}

strong {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--Luca-accent, #ae5d00);
}

a {
  text-decoration: none;
  color: black;
}

label, input, button, select, textarea {
  display: block;
  width: 100%;
}

input, button, select {
  cursor: pointer;
  height: 2.7rem;
  padding: var(--half-margin-layout, 8px);
  border: solid 1px lightgray;
}

label {
  font-size: 1.15rem;
  padding-top: 0.6rem;
}

textarea {
  resize: none;
}

main {
  height: 43%;
  width: 100%;
  overflow: auto;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

/*Utility*/
.flex {
  display: -webkit-flex; /* Safari */
  display: flex;
}

.flexGrow {
  flex-grow: 1;
}

.flexWrap {
  flex-wrap: wrap;
}

.widthLayoutRoule {
  width: var(--margin-layout, 20px);
}

.width10 {
  width: 10%;
}

.width20 {
  width: 20%;
}

.width35 {
  width: 35%;
}

.width60 {
  width: 60%;
}

.width50 {
  width: 50%;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.space {
  height: 9rem;
}

.texCenter {
  text-align: center;
}

.fontBold {
  font-weight: bold;
}

.elementCenter {
  margin: 0 auto 0 auto;
}

.contentVerticalCenter {
  display: table-cell;
  vertical-align: middle;
}

.textJustified {
  text-align: justify;
  text-justify: inter-word;
}

.lineMargin {
  margin-top: 8px;
}

.halfLineMargin {
  margin-top: 4px;
}

.lineIcon {
  height: 1rem;
}

.lineWidth {
  width: 1rem;
  height: 1rem;
}

.paddingLayoutRoule {
  padding: var(--margin-layout, 20px);
}

.marginLayoutRoule {
  margin: var(--margin-layout, 20px);
}

.paddingHalfLayoutRoule {
  padding: var(--half-margin-layout, 10px);
}

.paddingDoubleLayoutRoule {
  padding: var(--double-margin-layout, 40px);
}

.line {
  width: 50%;
  height: 2px;
  margin-top: 0.4rem;
  opacity: 0.6;
  background-color: var(--Luca-accent2, #003561);
}

.paddingTop0 {
  padding-top: 0;
}

.whiteFont {
  color: white;
}

.lightGrayBackground {
  background: var(--Luca-lightGray, rgb(241, 241, 241));
}

.boxShadow {
  box-shadow: 0 0 10px #888888;
}

/*Luca UI elements*/
.squareButton {
  width: fit-content;
  background-color: var(--Luca-lightGray, rgb(241, 241, 241));
  border: 0;
  border-radius: 3px;
  font-size: 1rem;
  padding: var(--half-margin-layout, 10px);
}

/*remove??*/
.profileInfo {
  margin-left: 1rem;
}

div.scrollable {
  display: inline-flex;
  height: 100%;
}

.card {
  width: 19rem;
  background: white;
  border-radius: 3px;
  padding: var(--half-margin-layout, 10px);
  margin: var(--half-margin-layout, 10px);
}

.card > ul {
  padding-top: var(--half-margin-layout, 10px);
  padding-bottom: var(--half-margin-layout, 10px);
}

.accentFont {
  color: var(--Luca-accent, #c15700);;
}

.accentButton {
  background-color: var(--Luca-accent, #c15700);
  color: white;
  border-color: var(--Luca-accent, #c15700);
}

.passiveButton {
  background-color: var(--Luca-mediumGray, #828282);
  color: white;
  border-color: var(--Luca-mediumGray, #828282);
}

.linkSymbol {
  font-size: 0.5rem;
  vertical-align: top;
}

.pagesLinks {
  display: flex;
  justify-content: space-evenly;
}

.pagesLinks > div {
  padding: 1rem 0.2rem;
}

.pagesLinks span {
  display: block;
  font-size: 1.15rem;
  line-height: 1.15em;
  text-transform: uppercase;
  cursor: pointer;
  background: var(--Luca-accent, #ae5d00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pagesLinks span>strong {
  font-family: 'Raleway', sans-serif;
}
.fontColorSkills span {
  background-image: linear-gradient(to right, #43d863 0, #32d8d9 100%) !important;
}

.fontColorProjects span {
  background-image: linear-gradient(to right, rgb(48, 207, 208) 0, rgb(51, 8, 103) 100%) !important;
}

.fontColorContacts span {
  background-image: linear-gradient(to right, rgb(47, 100, 167) 0, rgb(87, 219, 174) 100%) !important;
}

.bkgSkills {
  background-position: 0;
}

.bkgProjects {
  background-position: -200vw;
}

.bkgContacts {
  background-position: -400vw;
}

.mobile {
  display: inherit !important;
}

.desktop {
  display: none !important;
}
.Display {
  visibility: inherit !important;
}

.Hide {
  visibility: hidden !important;
}

.moving-bg {
  background-image: linear-gradient(to right,
  #43d863 0, #32d8d9 100vw,
  rgb(48, 207, 208) 200vw, rgb(51, 8, 103) 300vw,
  rgb(47, 100, 167) 400vw, rgb(87, 219, 174) 500vw);
  /*rgb(255, 145, 85) 500vw);*/
  background-size: 500vw 100%;
  will-change: background-position;
  transition: background-position 0.8s ease-out;
}

@media only screen and (min-height: 541px) and (max-height: 680px) {
  :root {
    --font-size: 15px;
    --margin-layout: 16px;
    --half-margin-layout: 8px;
    --double-margin-layout: 32px;
    --negative-margin-layout: -16px;
  }
}

@media only screen and (min-height: 481px) and (max-height: 540px) {
  :root {
    --font-size: 14px;
    --margin-layout: 14px;
    --half-margin-layout: 7px;
    --double-margin-layout: 28px;
    --negative-margin-layout: -14px;
  }
}

@media only screen and (max-height: 480px) {
  :root {
    --font-size: 12px;
    --margin-layout: 12px;
    --half-margin-layout: 6px;
    --double-margin-layout: 24px;
    --negative-margin-layout: -12px;
  }
}

@media only screen and (min-width: 780px), only screen and (orientation: landscape) {
  .mobile {
    display: none !important;
  }

  .desktop {
    display: inherit !important;
  }

  .page {
    flex-flow: row nowrap !important;
  }

  .page > * {
    height: 100% !important;
  }

  div.scrollable {
    display: block !important;
    align-content: center;
    text-align: center;
    height: auto;
  }

  main {
    width: 50% !important;
    flex-grow: 1;
  }
  app-profile{
    max-width: 20rem !important;
  }
  .card {
    display: inline-block;
    text-align: left;
  }
}

@media only screen and (min-width: 780px) {
  :root {
    --margin-layout: 24px;
    --half-margin-layout: 12px;
    --double-margin-layout: 48px;
    --negative-margin-layout: -24px;
  }
}

@media only screen and (min-width: 900px) {
  app-skills, app-projects-list, app-contacts {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}
