<div class="paddingLayoutRoule bkgContacts height100">
  <div class="FullScreenCard">
    <h1>Luca Leone</h1>
    <br>
    <div class="profileInfo">
      <p><a href="mailto:lucaleone@outlook.com"><i class="fa fa-envelope" aria-hidden="true"></i> lucaleone@outlook.com</a></p>
      <p><a href="https://www.linkedin.com/in/lucaleone93/en"><i class="fa fa-linkedin-square" aria-hidden="true"></i> linkedin.com/in/lucaleone93</a></p>
      <p><a href="https://github.com/lucaleone"><i class="fa fa-github-square" aria-hidden="true"></i> github.com/lucaleone</a></p>
    </div>
    <br>
    <button class="squareButton accentButton" onclick="location.href='assets/Luca_Leone_CV.pdf'">
      <p><i class="fa fa-file-text" aria-hidden="true"></i> Resume</p>
    </button>
  </div>
</div>
