<div class="paddingHalfLayoutRoule scrollable">
  <div class="card">
    <h2>Contacts</h2>
    <ul class="fa-ul">
      <li><a href="mailto:lucaleone@outlook.com">
        <span class="fa-li"><i class="fas fa-envelope fa-lg"></i></span>lucaleone@outlook.com <i
        class="fas fa-external-link-alt linkSymbol"></i></a></li>

      <li><a href="https://www.linkedin.com/in/lucaleone93/en">
        <span class="fa-li"><i class="fab fab fa-linkedin fa-lg"></i></span>linkedin.com/in/lucaleone93 <i
        class="fas fa-external-link-alt linkSymbol"></i></a></li>

      <li><a href="https://github.com/lucaleone">
        <span class="fa-li"><i class="fab fa-github-square fa-lg"></i></span>github.com/lucaleone <i
        class="fas fa-external-link-alt linkSymbol"></i></a></li>
      <li><a class="accentFont fontBold" href="assets/Luca_Leone_CV.pdf">
        <span class="fa-li"><i class="fas fa-file-alt fa-lg"></i></span>CV/Resume <i
        class="fas fa-external-link-alt linkSymbol"></i></a></li>
    </ul>
    <br>
  </div>
</div>
