:host{
  height: 57%;
  align-items: center;
  display: flex;
}
.profileContainer{
  width: 100%;
  padding-left: var(--margin-layout, 20px);
  padding-right: var(--margin-layout, 20px);
}
.LucaImg {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  background-image: url('../../../assets/Luca_Leone_profile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*@media only screen and (min-width: 780px), only screen and (orientation: landscape) {*/
 /**/
/*}*/
