<header class="texCenter profileContainer">
  <br>
  <div class="LucaImg elementCenter"></div>
  <h1>Luca Leone</h1>
  <h2>Software Engineer</h2>
  <br>
  <h3>Passionate software engineer with 4+ years of experience, I love to spread my passion and competence.</h3>
  <br>
  <hr class="width50">
  <div class="pagesLinks">
    <span routerLink="" class="fa fa-code fontBold" [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="fontColorSkills"><strong> Skills &emsp;</strong></span>
    <span routerLink="projects" class="fa fa-lightbulb-o fontBold"
          routerLinkActive="fontColorProjects"><strong> Projects &emsp;</strong></span>
    <span routerLink="contacts" class="fa fa-address-card-o fontBold"
          routerLinkActive="fontColorContacts"><strong> Contacts</strong></span>
  </div>
</header>
