:host{
  height: 55%;
  align-items: center;
  display: flex;
}
.profileContainer{
  padding-left: var(--margin-layout, 20px);
  padding-right: var(--margin-layout, 20px);
}
.LucaImg {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-image: url('../../../assets/Luca_Leone_profile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 700px), only screen and (orientation: landscape) {
  :host{
    max-width: 20rem;
  }
}
