<div class="paddingHalfLayoutRoule scrollable">
  <div class="card">
    <h2>Apps</h2>
    <h3>C#, Java, Python </h3>
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fab fa-windows fa-lg"></i></span> .Net in C#, Visual Studio</li>
      <li><span class="fa-li"><i class="fab fa-python fa-lg"></i></span> OpenAI experiments in Python</li>
      <li><span class="fa-li"><i class="fas fa-mobile-alt fa-lg"></i></span> 30+ Windows apps published</li>
      <li><span class="fa-li"><i class="fas fa-gamepad fa-lg"></i></span> Unity3D for video games & VR</li>
    </ul>
  </div>

  <div class="card">
    <h2>Web Development</h2>
    <h3>JavaScript, CSS, Angular</h3>
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fab fa-google fa-lg"></i></span> PWA progressive web app</li>
      <li><span class="fa-li"><i class="fab fa-angular fa-lg"></i></span> Angular 5+</li>
      <li><span class="fa-li"><i class="fas fa-cloud fa-lg"></i></span> Firebase auth and hosting</li>
      <li><span class="fa-li"><i class="fas fa-fighter-jet fa-lg"></i></span> Small & fast web sites</li>
    </ul>
  </div>

  <div class="card">
    <h2>Database</h2>
    <h3>SQL, PL/SQL</h3>
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fas fa-database fa-lg"></i></span> Oracle DB</li>
      <li><span class="fa-li"><i class="fab fas fa-fire fa-lg"></i></span> Firebase DB, NOSQL</li>
      <li><span class="fa-li"><i class="fas fa-terminal"></i></span> SQL and PL/SQL</li>
      <li>&nbsp;</li>
    </ul>
  </div>
</div>
