<div class="paddingHalfLayoutRoule scrollable">
  <div class="card">
    <h2>Backend</h2>
    <h3>C# .NET ASP CORE Azure</h3>
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fas fa-cubes fa-lg"></i></span> .NET Microservices</li>
      <li><span class="fa-li"><i class="fas fa-cloud fa-lg"></i></span> Azure web apps</li>
      <li><span class="fa-li"><i class="fas fa-bolt fa-lg"></i></span> Azure Functions</li>
      <li><span class="fa-li"><i class="fas fa-bug fa-lg"></i></span> Unit testing and Code Coverage</li>
    </ul>
  </div>
  
  <div class="card">
    <h2>Frontend</h2>
    <h3>Angular, TypeScript, CSS</h3>
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fab fa-angular fa-lg"></i></span> Angular</li>
      <li><span class="fa-li"><i class="fab fa-google fa-lg"></i></span> PWA progressive web app</li>
      <li><span class="fa-li"><i class="fas fa-mobile-alt fa-lg"></i></span> 30+ Windows apps published</li>
      <li><span class="fa-li"><i class="fas fa-gamepad fa-lg"></i></span> Unity3D for video games & VR</li>
    </ul>
  </div>  

  <div class="card">
    <h2>Database</h2>
    <h3>SQL, PL/SQL</h3>
    <ul class="fa-ul">      
      <li><span class="fa-li"><i class="fas fa-database fa-lg"></i></span> Microsoft SQL Server</li>
      <li><span class="fa-li"><i class="fas fa-database fa-lg"></i></span> Oracle DB</li>
      <li><span class="fa-li"><i class="fab fas fa-fire fa-lg"></i></span> Firebase Hosting</li>
      <li><span class="fa-li"><i class="fas fa-terminal"></i></span> SQL and PL/SQL</li>
    </ul>
  </div>
</div>
