<div class="paddingHalfLayoutRoule scrollable">
  <div class="card">
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fab fa-windows fa-lg"></i></span> MSP Tour Owner 2013 & 2014</li>
      <li><span class="fa-li"><i class="fab fa-windows fa-lg"></i></span> Best Student Partner 2013</li>
      <li><span class="fa-li"><i class="fas fa-trophy fa-lg"></i></span> Microsoft Imagine Cup 2013</li>
      <li><span class="fa-li"><i class="fab fa-xbox fa-lg"></i></span> XFest 2014</li>
      <li><span class="fa-li"><i class="fas fa-atom fa-lg"></i></span> Take part at CERN 2015/2016</li>
      <li><span class="fa-li"><i class="fab fa-angular fa-lg"></i></span> Certification Angular Born2Code</li>
      <li><span class="fa-li"><i class="fas fa-university fa-lg"></i></span> BE-CS University Graduation</li>
    </ul>
  </div>
</div>
