<div class="paddingLayoutRoule height100 scrollable">
  <div class="card">
    <h2>Luca Leone</h2>
    <h3>Software Engineer</h3>
    <br>
    <div class="profileInfo">
      <p><a href="mailto:lucaleone@outlook.com"><strong>Email:</strong> lucaleone@outlook.com</a></p>
      <p><a href="https://www.linkedin.com/in/lucaleone93/en"><strong>LinkedIn:</strong> /in/lucaleone93</a></p>
      <p><a href="https://github.com/lucaleone"><strong>GitHub:</strong> /lucaleone</a></p>
      <p>I am a passionate software engineer with 4+ years of experience, I love to spread my passion and
        competence.</p>
    </div>
  </div>

  <div class="lineWidth"></div>

  <div class="card">
    <h2>Luca Leone</h2>
    <h3>Software Engineer</h3>
    <br>
    <div class="profileInfo">
      <p><a href="mailto:lucaleone@outlook.com"><strong>Email:</strong> lucaleone@outlook.com</a></p>
      <p><a href="https://www.linkedin.com/in/lucaleone93/en"><strong>LinkedIn:</strong> /in/lucaleone93</a></p>
      <p><a href="https://github.com/lucaleone"><strong>GitHub:</strong> /lucaleone</a></p>
      <p>I am a passionate software engineer with 4+ years of experience, I love to spread my passion and
        competence.</p>
    </div>
  </div>
</div>
